.login{
    background: var(--color-fondo-gris);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.login__title{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.login__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login__field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.login__label{
    font-size: 1rem;
}
.login__input{
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 2px solid var(--color-de-texto-gris);
}
.login__input:focus{
    border-bottom: 2px solid var(--color-azul);
    transition: all 100ms ease-in-out;
}
.login__field:focus-within .login__label{
    color: var(--color-azul);
    font-weight: 500;
    transition: all 100ms ease-in-out;
}
input.btn__azul{
    cursor: pointer;
}

.error{
    color: red;
}
.login__input__error{
    border-bottom:  2px solid red;
}
.help__container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.help__icon{
    cursor: help;
}
.help__icon:hover{
    color: var(--color-azul);
}
.help__icon:hover ~ .help{
    z-index: 1;
    display: block;
    position: absolute;
    top: -10px;
    right: -200px;
}
.help{
    display: none;
    background: var(--color-fondo);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px -2px 1px inset #00000077;
    font-size: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .login{
        padding: 1rem;
        gap: 1rem;
    }
    .login__form{
        width: 100%;
    }
    .login__title{
        flex-direction: column;
        font-size: 1.5rem;
    }
    .help__icon:hover ~ .help{
        z-index: 1;
        display: block;
        position: absolute;
        top: -10px;
        right: -180px;
    }
}
@media screen and (min-width: 481px) and (max-width: 761px) {
    .login{
        padding: 2rem;
        gap: 1rem;
    }
    .login__form{
        width: 80%;
    }
    .login__title{
        font-size: 1.5rem;
    }
    .help__icon:hover ~ .help{
        top: 20px;
        right: -160px;
    }
}