.productos__all{
    background: var(--color-fondo-gris);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.productos__all__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.productos__all__title{
    font-size: 2rem;
}
.productos__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}
.producto__img{
    position: relative;
}
.icons__container{
    display: flex;
    gap: 1rem;
}
.icon__editar{
    cursor: pointer;
    color: var(--color-azul);
}
.icon__eliminar{
    cursor: pointer;
    color: red;
}
.icon__editar:hover{
    color: var(--color-azul-hover);
}
.icon__eliminar:hover{
    color: #c40d0d;
}
.producto__nombre{
    font-size: 1.2rem;
}
.producto__precio{
    font-weight: 700;
}
.producto__precio::before{
    content: "$ ";
}
.producto__id{
    color: var(--color-gris-titulo);
}
.producto__id::before{
    content: "#";
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .productos__all{
        padding: 1rem;
        gap: 1rem;
    }
    .productos__all__info{
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .productos__all__title{
        font-size: 1.3rem;
    }
    #agregar{
        align-self: center;
        padding: .5rem;
        text-align: center;
    }
    .producto{
        margin-bottom: 0;
    }
    .icons__container{
        align-self: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 761px) {
    .productos__all{
        padding: 2rem 1rem;
        gap: 1rem;
    }
    .productos__all__title{
        font-size: 1.5rem;
    }
    #agregar{
        padding: .5rem 1rem;
    }
    .productos__container{
        justify-content: center;
        gap: .5rem;
    }
    .producto{
        margin-bottom: 0;
    }
    .producto__nombre{
        font-size: 1rem;
    }
}